In [9]:
import scipy
import scipy.stats as stats
import pandas as pd
import numpy as np

# 1.

In [10]:
df=pd.DataFrame(([60,54,46,41,201],[40,44,53,57,194],[100,98,99,98,395]))
df.index=['female','male','total']
df.columns=['High School','Bachelors','Masters','Ph.d','Total']
df

        High School  Bachelors  Masters  Ph.d  Total
female           60         54       46    41    201
male             40         44       53    57    194
total           100         98       99    98    395

In [11]:
Total=df["Total"]
c=df.T
total=c["total"]

In [12]:
q=(total*Total['female'])/395
r=(total*Total['male'])/395

In [13]:
w=pd.concat([q,r],axis=1)
w.columns=['ftotal','mtotal']
w

                 ftotal      mtotal
High School   50.886076   49.113924
Bachelors     49.868354   48.131646
Masters       50.377215   48.622785
Ph.d          49.868354   48.131646
Total        201.000000  194.000000

In [26]:
r=df.drop(["Total"],axis=1).T
g=pd.DataFrame(r)
g

             female  male  total
High School      60    40    100
Bachelors        54    44     98
Masters          46    53     99
Ph.d             41    57     98

In [27]:
i=((g["female"]-w["ftotal"])**2)/w["ftotal"]
j=((g["male"]-w["mtotal"])**2)/w["mtotal"]
df1=pd.DataFrame(i)
df2=pd.DataFrame(j)

In [28]:
q=df1.sum()
v=df2.sum()
result=q+v
cvalue = stats.chi2.ppf(q = 0.95,df=3)
print(f" chi value is : {cvalue}")
print(f"calculated value is : {result[0]}")
print('The critical value of  with 3 degree of freedom is 7.815. Since 8.006 > 7.815 and we can conclude that the education level depends on gender at a 5% level of significance.')

 chi value is : 7.814727903251179
calculated value is : 8.006066246262538
The critical value of  with 3 degree of freedom is 7.815. Since 8.006 > 7.815 and we can conclude that the education level depends on gender at a 5% level of significance.

# 2

In [29]:
Group1= [51, 45, 33, 45, 67]
Group2= [23, 43, 23, 43, 45]
Group3= [56, 76, 74, 87, 56]
statistic, pvalue = stats.f_oneway(Group1,Group2,Group3) 
if pvalue < 0.05: print('True') 
else: print('False')
print("The test result suggests the groups have different same sample means in this example, since the p-value is significant at a 99% confidence level. Here the p-value returned is 0.00305 which is < 0.05")

True
The test result suggests the groups have different same sample means in this example, since the p-value is significant at a 99% confidence level. Here the p-value returned is 0.00305 which is < 0.05

# 3

In [68]:
def f_test(x, y):
    x = np.array(x)
    y = np.array(y)
    f = np.var(x, ddof=1)/np.var(y, ddof=1)     #calculate F test statistic 
    dn = x.size-1                                 #define degrees of freedom numerator 
    dd = y.size-1                                #define degrees of freedom denominator 
    p = 1-scipy.stats.f.cdf(f, dn, dd)        #find p-value of F test statistic 
    return f, p
Group1=[10, 20, 30, 40, 50] 
Group2=[5,10,15, 20, 25]
F_Test=f_test(Group1,Group2)
print(f"F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : {F_Test[0]}")

F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : 4.0