# STATS ASS-3

In [48]:
import math
import scipy
from statsmodels.stats import weightstats as stests
import numpy as np

# 1
In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. H0: μ = 25, H1: μ ≠ 25
2. H0: σ > 10, H1: σ = 10
3. H0: x = 50, H1: x ≠ 50
4. H0: p = 0.1, H1: p = 0.5
5. H0: s = 30, H1: s > 30

In [49]:
#1 .H0: μ = 25, H1: μ ≠ 25 
print("yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when μ = 25 and alternate hypothesis (H1) accepted when μ>25 or μ <25")

yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when μ = 25 and alternate hypothesis (H1) accepted when μ>25 or μ <25

In [50]:
#2. H0: σ > 10, H1: σ = 10
print("yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when σ > 10 and alternate hypothesis (H1) accepted when σ = 10")

yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when σ > 10 and alternate hypothesis (H1) accepted when σ = 10

In [51]:
#3.H0: x = 50, H1: x ≠ 50
print("yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when x=50 and alternate hypothesis (H1) accepted when x>50 or x<50")

yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when x=50 and alternate hypothesis (H1) accepted when x>50 or x<50

In [52]:
#4. H0: p = 0.1, H1: p = 0.5
print("yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when p=0.1 and alternate hypothesis (H1) accepted when p=0.5")

yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when p=0.1 and alternate hypothesis (H1) accepted when p=0.5

In [53]:
#5. H0: s = 30, H1: s > 30
print("yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when s=30 and alternate hypothesis (H1) accepted when s>30")

yes the hypothesis is stated correctly because null hypothesis (H0)is accepted when s=30 and alternate hypothesis (H1) accepted when s>30

# 2

In [66]:
#0.5199
sm=52.80
pm=52
se=4.5/math.sqrt(100)
ztest=(sm-pm)/se
x=0.05
test=scipy.stats.norm.cdf(x)
print("z condifidence score for z(0.05) is :"+str(test))
print(f"ztest is : {ztest}")
print("as we can observe ztest value is greater than z(0.05) then we can say the given null hypothesis is false")
print("by these we can say that average cost of text book is greater than  RS 52")

z score for 0.05 is :0.5199388058383725
ztest is : 1.7777777777777715
as we can observe ztest value is greater than z(0.05) then we can say the given null hypothesis is false
by these we can say that average cost of text book is greater than  RS 52

# 3.

In [70]:
sm=32.5
pm=34
se=8/math.sqrt(50)    #se=std/sqrt(sample no)
ztest=(sm-pm)/se
x=0.01
test=scipy.stats.norm.cdf(x)
print("z  condifidence score for z(0.01) is :"+str(test))
print(f"ztest is : {ztest}")
print("Genesee River chemical pollutant has reduced with improved filtration devices by compinies so the claim made by factory representatives is true")

z  condifidence score for z(0.01) is :0.5039893563146316
ztest is : -1.3258252147247767
Genesee River chemical pollutant has reduced with improved filtration devices by compinies so the claim made by factory representatives is true

# 4.

In [99]:
a=[1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994]
ztest=scipy.stats.zscore(a)
contest=scipy.stats.norm.cdf(0.5)
print("ztest is :"+str(ztest))
print("for alpha 0.5 :"+str(contest))
for i in ztest:
    if (i>contest):
      print(" A family of four in the U.S.  spends on an average about $1135 annually on dental expenditures.")
    else:
         break                 
print(" A family of four in the U.S does not spend on an average about $1135 annually on dental expenditures.")

ztest is :[-0.09929053 -0.93387292  0.36483947  1.24200259  1.17813149  1.63374535
 -0.85296952 -0.04393558  1.08871195 -0.76780805 -0.43142026 -1.28303494
 -1.41503521 -0.67838851 -0.5038075  -0.37180723 -0.32922649 -0.18871007
  2.8260059  -0.15464548 -0.1205809  -0.15890356]
for alpha 0.5 :0.6914624612740131
 A family of four in the U.S does not spend on an average about $1135 annually on dental expenditures.

# 5.

In [101]:
sm=48574
pm=48432
std=2000
n=400
se=std/math.sqrt(n)    #se=std/sqrt(sample no)
ztest=(sm-pm)/se
x=0.0
test=scipy.stats.norm.cdf(x)
print("z  condifidence score for z(0) is :"+str(test))
print(f"ztest is : {ztest}")
print("the average annual family income on Metropolis is not equal to $48,432")

z  condifidence score for z(0) is :0.5
ztest is : 1.42
the average annual family income on Metropolis is not equal to $48,432

# 6

In [106]:
sm=31.67
pm=32.28
std=1.29
n=19
se=std/math.sqrt(n)    #se=std/sqrt(sample no)
ztest=(sm-pm)/se
x=0.05
test=scipy.stats.norm.cdf(x)
print(f"z  condifidence score for z({x}) is :"+str(test))
print(f"ztest is : {ztest}")
print("the 2  hypothesis are \n H0:average price per square foot for warehouses in the United States is equal to $32.28 \n H1:average price per square foot for warehouses in the United States is  not equal to $32.28")
print("by observation we can say that null hypothesis is correct H0:average price per square foot for warehouses in the United States is equal to $32.28")

z  condifidence score for z(0.05) is :0.5199388058383725
ztest is : -2.06118477175179
the 2  hypothesis are
 H0:average price per square foot for warehouses in the United States is equal to $32.28
 H1:average price per square foot for warehouses in the United States is  not equal to $32.28
by observation we can say that null hypothesis is correct H0:average price per square foot for warehouses in the United States is equal to $32.28